.box1 {
    position: relative;
    margin: auto;
    padding: 2%;
    width: 80%;
    height: 50%;
    margin-bottom: 2%;
    margin-top: -30em;
    border-radius: 20px;
    border: 1px solid #FFF;
    background: rgba(0, 117, 255, 0.10);
    box-shadow: 0px 2px 20px -4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(26.5px);
    z-index: 1;
}

.category-line {
  border-top: 2px solid rgba(0, 78, 169, 0.50);
  text-align: center;
  position: relative;
  margin-top: 8vh;
}

.category-text {
  background-color: #fff;
  padding: 0 20px;
  position: absolute;
  color: black;
  font-weight: bold;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
}

.wow1 {
    background: linear-gradient(180deg, #4FD0FF 0%, #2589FF 100%);
}

.wow2 {
    background: linear-gradient(180deg, #FF4C7F 0%, #FF414C 100%);

}

.bg-image1 {
    position: absolute;
    width: 50%;
    height: 100%;
    background: url("../../assets/img/bg_ctgrs_lft.svg");
    background-repeat: no-repeat;
    background-position: left;
    z-index: -1;
}

.bg-image2 {
    position: absolute;
    width: 50%;
    height: 100%;
    background: url("../../assets/img/bg_ctgrs_rt.svg");
    background-repeat: no-repeat;
    background-position: right;
    z-index: -1;
}

@media (max-width: 767px) {
  .bg-image1, .bg-image2{
    display: none;
  }
  .category-row{
    flex-wrap: nowrap !important;
    margin-right: 8px !important;
  }

  .box1 {
    width: 100%;
  }
  .category-card1 {
    padding-right: 2% !important;
  }
  .category-card2 {
    padding-left: 2% !important;
  }
  .category-heading {
    font-size: 18px;
  }
  .category-para {
    display: none;
  }
}
