@media (max-width:576px) {
    .card-blog {
        background-color: #fff;
        border-radius: 20px;
    }

    .sponsor-cards-mobile .post-thumb {
        background-color: #fff;
        padding: 5%;
    }

    .sponser_card_img {
        border-radius: 10px 10px 0px 0px;
    }

    .sponsor-cards-mobile .text-overlay {
        text-align: start;
        position: absolute;
        top: 0;
        left: 9px;
        right: 0;
        bottom: 8px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 89%;
        height: auto;
        background: linear-gradient(180deg, rgb(0, 0, 0, 0)40%, rgb(0, 0, 0, 0.7)100%);
        padding-left: 4%;
        border-radius: 10px 10px 0px 0px;
        padding-bottom: 0;
    }
}