@media (max-width:576px) {
    .card-blog {
        background-color: #fff;
        border-radius: 20px;
    }

    .sponsor-cards-mobile .post-thumb {
        background-color: #fff;
        padding: 5%;
    }

    .sponser_card_img {
        border-radius: 10px 10px 0px 0px;
    }

    .sponsor-cards-mobile .text-overlay {
        text-align: start;
        position: absolute;
        top: 0;
        left: 9px;
        color: white;
        text-shadow: black 2px 2px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 89%;
        height: 95%;
        background-color: rgba(0, 0, 0, 0);
        padding-left: 4%;
        padding-bottom: 0;
    }
}