.cc-card-col {
    height: 24vh
}

@media (max-width:576px) {
    .events-bg {
        background-color: #EFEFEF;
    }
}

@media (min-width:576px) {
    .cc-cards-mobile {
        display: none;
    }
}

@media (max-width:576px) {
    .cc-cards-desktop {
        display: none;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .cc-card-col {
        height: 53vh
    }
}