.cc-card-col {
    height: 100%;
}

.circle {
    width: 10vw;
    /* Set the width and height of the circle */
    height: 15vh;
    border-radius: 50%;
    /* Make it a circle */
    background-color: #f0f0f0;
    /* Change this to desired background color */
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    max-width: 80%;
    /* Set maximum width for text to ensure it doesn't overflow */
    text-align: center;
}

@media (max-width:576px) {
    .events-bg {
        background-color: #EFEFEF;
    }

    .cc-cards-desktop {
        display: none;
    }

    .cc-card-col {
        padding: 0 4% 0 0;
    }
}

@media (min-width:576px) {
    .cc-cards-mobile {
        display: none;
    }

    /* .cc-card-col {
        height: 24vh
    } */
}


@media (min-width:768px) and (max-width:991px) {
    /* .cc-card-col {
        height: 53vh
    } */
}