.cc-card-col {
    height: 100%;
}

@media (max-width:576px) {
    .events-bg {
        background-color: #EFEFEF;
    }

    .cc-cards-desktop {
        display: none;
    }

    .cc-card-col {
        padding: 0 4% 0 0;
    }
}

@media (min-width:576px) {
    .cc-cards-mobile {
        display: none;
    }

    .cc-card-col {
        height: 24vh
    }
}


@media (min-width:768px) and (max-width:991px) {
    .cc-card-col {
        height: 53vh
    }
}