.choice-line {
    border-top: 2px solid rgba(0, 78, 169, 0.50);
    text-align: center;
    position: relative;
}
.line {
    border-top: 2px solid rgba(0, 78, 169, 0.50);
    text-align: center;
    position: relative;
}
.card_line {
    border-top: 1px solid rgba(0, 78, 169, 0.50);
    text-align: center;
    position: relative;
}

.choice-heading {
    background-color: #fff;
    padding: 0 20px;
    position: absolute;
    color: black;
    font-weight: bold;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
}


@media (max-width: 767px) {
    .choice-line {
        display: none;
    }
    .choice-heading {
        display: none;
    }
    .choice-para {
        display: none;
    }
    .choice-btn {
        display: none !important;
    }
    .card_line {
        display: none;
    }
    .page-section {
        padding-top: 0%;
    }
}
