.page-section {
    padding-bottom: 20px !important;
    padding-top: 30px !important;
}

.choice-card {
    border-radius: 25px !important;
    background: linear-gradient(90deg, #7DBDFF 0%, rgba(136, 195, 255, 0.81) 0.01%, rgba(242, 248, 255, 0.51) 49.48%, #7BBCFF 100%);

    box-shadow: 0px 4px 55px -5px rgba(0, 0, 0, 0.25);
    color: #00448B !important;
    padding: 3% 5% 4% 5% !important;
}

.choice-img {
    display: flex;
    align-items: center;
    width: 35%;
    height: auto;
    padding: 2% 2% 2% 6%;
}

.choice-img img {
    width: 100%;
    height: auto;
}

.card_line {
    border-top: 1px solid rgba(0, 78, 169, 0.50);
    text-align: center;
    position: relative;
}

.choice-heading {
    padding: 0 20px;
    color: black;
    font-weight: bold;
    text-align: center;
    /* position: absolute; */
    /* top: -24px;
    left: 50%; */
    /* transform: translateX(-50%); */
}


@media (max-width: 767px) {
    .choice-line {
        display: none;
    }

    .choice-heading {
        display: none;
    }

    .choice-para {
        display: none;
    }

    .choice-btn {
        display: none !important;
    }

    .line {
        display: none;
    }

    .choice-bottom-para {
        display: none;
    }

    .card_line {
        display: none;
    }

    .page-section {
        padding-top: 0% !important;
    }

    .choice-img {
        display: flex;
        align-items: flex-end;
        width: 90%;
        height: auto;
    }

    .choice-img img {
        width: 100%;
        height: auto;
    }

    .choice-body {
        display: flex;
        align-items: flex-end;
    }

    .choice-body h2 {
        font-size: x-large;
        position: relative;
        width: 100%;
        height: auto;
    }
}

@media (max-width:576px) {
    .choice-card {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.93) 92.19%), #004EA9;
        background-size: 50%;
        color: white !important;
        width: 100%;
        height: 23vh;
    }

    .choice-img {
        display: none;
    }

    .choice-1 {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.93) 100%), url("../../assets/img/choice/choice-card-1.png");
        background-size: 80%;
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
    }

    .choice-2 {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.93) 100%), url("../../assets/img/choice/choice-card-2.png");
        background-size: 70%;
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
    }

    .choice-body h2 {
        font-size: x-large;
        /* position: relative;
        z-index: 1; */
        width: 38vw;
        height: auto;
        padding: 0 0 2% 6%;
    }

    .choice-heading-mobile {
        color: #000;
        padding-left: 3%;
        font-size: 32px;
        font-family: 'League Spartan';
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: -0.8px;
        margin-top: 8vh;
    }
}

@media (min-width:576px) {
    .choice-heading-mobile {
        display: none;
    }
}

@media (max-width:991px) and (min-width:768px) {
    .choice-body {
        font-size: medium;
    }

    .choice-body h2 {
        font-size: larger;
    }

    .choice-btn {
        font-size: smaller !important;
    }

    .choice-img {
        width: 50%;
        padding: 0px;
    }
}